body{
    color:#1d2228;
    background-color:#e1e2e2;
    font-size:15px;
    font-style: Arial, Sans-seriff;
}

h1, h2, label, form i {
    color: #fb8122;
}

h1{
    font-size:200%;
}

h2{
    font-size:170%;
}

.flashes h4{
    line-height: 1.5;
}

.flashmessage-text{
    color:#fff;
    background-color: #1d2228;
    padding: 20px 0;
}

.offset{
    margin-left: 10%;
    margin-right: 10%;
}

.wide-offset{
    margin-left: 20%;
    margin-right: 20%;
}

.verywide-offset{
    margin-left: 25%;
    margin-right: 25%;
}

.big-offset{
    margin-left: 35%;
    margin-right: 35%;
}

/* Home Page */

.search_img{
    background-image: url('../images/learning2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height:300px;
}

.search-btn{
    width:100px;
}

.form-control::placeholder{
    font-weight:900;
    color:#fff;
}

.navbar{
    margin-top:0px;
    box-shadow:none;
    background-color:black;
}
.navbar li a, .companylogo{
    font-size:150%;
    font-weight:700;
    padding-top:10px;
    color:white;
}

.nav-item{
    margin-right:20px;
    margin-top:0px;
}

.nav-item:last-child{
    margin-right:20px;
}

.companylogo{
    height:60%;
    padding:0px;
    text-transform:uppercase;
    padding-top:20px;
}

a, .copyright{
    color: #000;
    font-size:130%;
}

a:hover{
    color: #fb8122;
}

.textsection-title, .title{
    color: #000;
    font-weight: bolder;
    font-size:170%;
}

.homepage-title{
    padding:10px;
    color: #fb8122;
    font-weight:900;
}

.textsection{
    max-width:80ch;
    font-size:110%;
    line-height:2;
    color: #000;
}

.who-we-are{
    text-align:center;
    max-width:200ch;
    margin-left:15%;
    margin-right:15%;
}

.home-links {
    color: #fb8122;
    font-size: 1rem;
    font-weight:700;
}
  
a.anchor-links:hover {
    color: #fb8122;
}

.small-text {
    font-size: 1rem;
}

.aboutus-images {
    width: 85%;
    height: 90%;
    border: 3px solid 12151f;
}

/* push footer to the bottom of the page*/

.content{
    min-height: calc(80vh - 100px);
}

footer{
    height: 100px;
}

footer .container{
    margin-bottom:20px;
}

/*****Forms****/

.signupform, .loginform{
    max-width: 500px;
}

label{
    font-weight:900px;
    font-size:120%;
    color:#fff;
}

.btn{
    color: #fb8122;
}

.signup-btn, .login-btn, .contact-btn{
    background-color:#fb8122;
    color:#000;
}

.loginlink, .registerlink, .informative-text{
    color:#fff;
    font-size:110%;
}

.informative-text{
    font-size:80%;
}

.col-newresource-label{
    text-align:right;
}


/************resources******/

.transparent-bg{
    background-color:transparent;
}

.resources-bg{
    background-color: #12151f;
    padding-left: 0;
    padding-right: 0;
}

.resources-bg img{
    width: 100%;
    height:450px;
    top: 0;
    bottom: 0;
}


.card p, .card .card-body .card-text{
    color:#fb8122;
}

a .resourcelink{
    font-size:70%;
    text-decoration:underline;
    color:#fff;
}

/*******Profile Page******/

.profile-section, .add-resource-section{
    margin-top:50px;
}

.profile-title{
    color:#000;
}

.profile-img{
    height:350px;
}

.profile-label{
    font-size:110%;
}

/*******Contact******/

.login-image, .register-image{
    display:block;
}

.login-image, .register-image{
    height:350px;
}

/*******
.contactform-image{
    height:450px;
}
*/

.contactbg{
    background-image: url("../images/programming5.jpg");
    background-size:100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.title-form{
    font-weight:900;
}

.contact-form label{
    color:#000;
    font-weight:500;
}

.main-content{
    padding-top:5%;
    padding-bottom:5%;
}