body{
    color:#1d2228;
    background-color:#e1e2e2;
    font-size:15px;
    font-family: Arial, Sans-seriff;
}

h1, h2, label, form i {
    color: #fff;
}

h1{
    font-size:200%;
}

h2{
    font-size:170%;
}

.flashes h4{
    line-height: 1.5;
}

.flashmessage-text{
    color:#fff;
    background-color: #1d2228;
    padding: 20px 0;
}

.offset{
    margin-left: 10%;
    margin-right: 10%;
}

.wide-offset{
    margin-left: 20%;
    margin-right: 20%;
}

.verywide-offset{
    margin-left: 25%;
    margin-right: 25%;
}

.big-offset{
    margin-left: 35%;
    margin-right: 35%;
}

/* Home Page */

.search_img{
    background-image: url('../images/learning2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height:300px;
}

.search-btn{
    width:100px;
    color:#fb8122;
}

.form-control::placeholder{
    font-weight:900;
    color:#fff;
}

.search-bar{
    margin-left:20px;
    margin-right:20px;
}

.search-results .card-text{
    line-height:1.5;
}

.search-results{
    color:#fb8122;
}

.search_details{
    margin-right:20px;
}

.navbar{
    margin-top:0px;
    box-shadow:none;
}

.navbar li a, .companylogo{
    font-size:150%;
    font-weight:700;
    padding-top:10px;
    color:white;
}

.nav-item{
    margin-right:15px;
    margin-top:0px;
}

.nav-item:last-child{
    margin-right:10px;
}

.companylogo{
    height:60%;
    padding:0px;
    text-transform:uppercase;
    padding-top:20px;
}

a, .copyright{
    color: #000;
    font-size:130%;
}

.navbar-toggler-icon{
    color:white;
    padding:10px;
    display:block;
}

a:hover{
    color: #fb8122;
}

.textsection-title, .title{
    color: #000;
    font-weight: bolder;
    font-size:170%;
}

.homepage-title{
    padding:10px;
    color: #fb8122;
    font-weight:900;
}

/* push footer to the bottom of the page*/

.content{
    min-height: calc(80vh - 100px);
}

footer{
    height: 100px;
}

footer .container{
    margin-bottom:20px;
}

/* Home Page */

.textsection{
    max-width:80ch;
    font-size:110%;
    line-height:2;
    color: #000;
}

.first-textsection{
    margin-left:0px;
}

.second-textsection{
    margin-right:0px;
}

.who-we-are{
    text-align:center;
    max-width:200ch;
    margin-left:15%;
    margin-right:15%;
}

.home-links {
    color: #fb8122;
    font-size: 1rem;
    font-weight:700;
}
  
a.anchor-links:hover {
    color: #fb8122;
}

.small-text {
    font-size: 1rem;
}

.aboutus-images {
    width: 85%;
    height: 90%;
    max-height:300px;
    border: 3px solid #12151f;
}


/*****Forms****/

.signupform, .loginform{
    max-width: 500px;
}

label{
    font-weight:900;
    font-size:120%;
    color:#fff;
}

.btn, .btn i{
    color:#fff;
}

.btn:hover{
    color:#fb8122;
}

.search-btn, .search-btn i{
    color:#000;
    font-weight:700;
}

.signup-btn, .login-btn, .contact-btn{
    background-color:#000;
    color:#fff;
}

.loginlink, .registerlink, .informative-text{
    font-size:110%;
}

.loginlink, .registerlink{
    color:#fb8122;
}

.informative-text{
    font-size:80%;
    color:#fff;
}

.col-editresource-label, .col-editresource-label{
    text-align:right;
}

/************resources******/

.transparent-bg{
    background-color:transparent;
}

.resources-bg{
    background-color: #12151f;
    padding-left: 0;
    padding-right: 0;
}

.resources-bg img{
    max-width:300px;
    min-height:400px;
    top:0;
    bottom:0;
}

.resources-section span{
    margin-right:10px;
}

.card-content, .resources-heading{
    background-color: #12151f;
}

.card-content{
    margin:20px 40px;
}

.card .card-body .card-text,.data-type{
    color:#fb8122;
}

.card-text, .resources-heading, .resources-data {
    color:#fff;
}

a .resourcelink{
    font-size:70%;
    text-decoration:underline;
    color:#fff;
}

/*******Profile Page******/

.profile-section, .add-resource-section{
    margin-top:50px;
}

.profile-title{
    color:#000;
}

.profile-img{
    height:350px;
}

.profile-label{
    font-size:110%;
}

.label-name, .label-data{
    color:#fff;
}

.profile-section .card-title{
    color:#e1e2e2;
}

/*******Contact******/

.login-image, .register-image{
    display:block;
}

.login-image, .register-image{
    height:350px;
}

.contactbg{
    background-image: url("../images/programming5.jpg");
    background-size:100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.title-form{
    font-weight:900;
}

.contact-form label{
    color:#000;
    font-weight:500;
}

.main-content{
    padding-top:10%;
    padding-bottom:0%;
}

.main-content-contact{
    padding-top:5%;
    padding-bottom:0%;
}

/*******Errors******/

.error-section h1, .error-section p{
    color:#fff;
}

/*MEDIA QUERIES*/
/*Big Tables to 1170px (container-fluid Bootstrap Class max-width */

@media only screen and (max-width:1200px) {
    
  .contactform{
    margin-top:-100px;
    margin-right:0px;
  }

  /*Small tablets to big tablets - from 768px to 1023px  */
  
@media only screen and (max-width:1023px) {
  .navbar li a, .companylogo{
    font-size:130%;
  }

.resources-bg img{
    max-width:200px;
    max-height:220px;
}

.resources-section p{
    font-size:90%;
}

a .resourcelink{
    font-size:50%;
}

.data-type{
    margin-left:0px !important;
}

.aboutus-images {
    height: 250px;
}

@media only screen and (max-width:900px) {
  .navbar li a, .companylogo{
    font-size:90%;
}
.resources-section{
    margin-left: 10%;
    margin-right: 10%;
}

.resources-bg img{
    width:300px;
    max-height:100px;
}

.profile-section{
    margin-left: 5%;
    margin-right: 5%;
}
    
.aboutus-firstsection img, .aboutus-secondsection img{
    margin-top:20px !important;
    text-align:center;
}
    
.aboutus-firstsection p, .aboutus-secondsection p, .aboutus-firstsection span, .aboutus-secondsection span{
    margin-top:10px !important;
    font-size:120%;
}
    
.who-we-are{
    margin-left:5%;
    margin-right:5%;
    max-width:140ch;
}
}

  /*Small phones to small tablets - from 481 to 767 px  */
  
@media only screen and (max-width: 767px) {
.profile-label{
    font-size:85%;
}
.navbar li a, .companylogo{
    font-size:90%;
}
.resources-heading, .resources-section{
    margin-left:2%;
    margin-right: 2%;
}
.resources-bg img{
    max-width:200px;
    max-height:100px;
}
.col-newresource-label, .col-editresource-label {
    text-align: center;
}
.register-section, .login-section, .flashmessage{
    margin-left:10%;
    margin-right: 10%;
}

h3 .homepage-title{
    font-size:120%;
}

.search_img{
    margin-bottom:30px !important;
}

.copyright{
    font-size:110%;
}

.aboutus-firstsection p, .aboutus-secondsection p, .aboutus-firstsection span, .aboutus-secondsection span, .who-we-are, .aboutus-thirdsection span{
    margin-top:10px !important;
    font-size:100%;
}

.textsection-title{
    font-size:140%;
}

.who-we-are{
    margin-left:5%;
    margin-right:5%;
    max-width:140ch;
}

.aboutus-images {
    height: 70%;
}
}

/*Small phones - from 0 to 480 px  */
@media only screen and (max-width:480px) {
.profile-label{
    font-size:70%;
}
}
}
}

/* VerySmall phones - from 0 to 430 px  

@media only screen and (max-width:430px) {} */




