body{
    color:#1d2228;
    background-color:#e1e2e2;
}

h1, h2, label, form i {
    color: #fb8122;
}

.flashes h4{
    line-height: 1.5;
}

.offset{
    margin-left: 10%;
    margin-right: 10%;
}

.wide-offset{
    margin-left: 20%;
    margin-right: 20%;
}

/* Home Page */

#search_img{
    background-image: url('../images/learning2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.navbar{
    padding:0px;
}

.navbar li a{
    font-size:150%;
    font-weight:700;
}

.nav-item{
    margin-right:20px;
}

.nav-item:last-child{
    margin-right:20px;
}

#logo{
    width:60%;
    height:60%;
    padding:0px;
}

a, .copyright{
    color: #000;
    font-size:130%;
}

a:hover{
    color: #fb8122;
}

/***Home Page***/

.textsection-title, .title{
    color: #fb8122;
    font-weight: bolder;
}

.textsection{
    max-width:80ch;
}

.home-links {
    color: #fb8122;
    font-size: 1rem
}

a.anchor-links:hover {
    color: #fb8122;
}

.small-text {
    font-size: 1rem;
}

.homepage-images {
    width: 85%;
    height: 85%;
    border: 3px solid 12151f;
}

/*****Form****/

.signupform, .loginform{
    max-width: 500px;
}

.btn{
    color: #fb8122;
}


/************resources******/

.transparent-bg{
    background-color:transparent !important;
}

.resources-bg{
    background-color: #12151f;
    padding-left: 0;
    padding-right: 0;
}

.resources-bg img{
    width: 300px;
    height:300px;
    top: 0;
    bottom: 0;
}

.card p, .card .card-body .card-text{
    color:#fb8122;
}

/*******Contact******/

.login-image, .register-image,.contactform-image{
    
    height:450px;
    display:block;
}

