{% extends "base.html" %}

{% block content %}

<div class="row my-5 mb-3 offset aboutus-firstsection">
    <div class="col-12 order-0 col-md-6 ">
        <h1 class="textsection-title first-textsection">Want to find the best learning resources used by Developers</h1>
        <p class="textsection first-textsection"> Top Developer Resources is your one stop platform for Learning Resources. Whether you want to discover useful resources,
            share or advertise you own ones look no further!
        </p>
        <span class="textsection first-textsection">Want to find Resources? Simply <a href="{{ url_for('register') }}" target="_blank" class="home-links">sign up</a> and create an event!</span>
    </div>
    <div class="col-12 order-1 col-md-6 center-align no-padding"> 
        <img src="../static/images/learning4.jpg" alt="Learning Resources image" 
                class="center-align responsive-img aboutus-images">
    </div>
</div>
<div class="row offset mb-3 aboutus-secondsection">
    <div class="col-12 col-md-6 center-align">
        <h2 class="textsection-title second-textsection">Just want to add a Learning Resource to the Platform?</h2>
        <p class="textsection second-textsection"> You can easily do it by creating an account and clicking on Add Resource Introducing all Required Info.
        </p>
        <span class="textsection second-textsection">Simply <a href="{{ url_for('register') }}" target="_blank" class="home-links">sign up</a> and create a Resource!</span>
    </div>
    <div class="col-12 col-md-6 center-align no-padding">
        <img src="../static/images/programming13.jpg" alt="Learning Resources image" 
            class="center-align responsive-img aboutus-images">
    </div>
</div>
<div class="row offset homepage-textsection mt-5 text-center aboutus-thirdsection">
    <div class="col-12 center-align">
        <h2 class="textsection-title" id="about">Who We Are</h2>
        <p class="textsection who-we-are">
            Top Developer Resources is a community website where people can share the top resources they used in their Software Development Learning 
            journey so that other people can profit from them and reach their Development goals faster (getting a job, learning a new language, etc).
            Our aim is to create a community where developers can help each other so that everybody benefits from the experience.
        </p>
        <span class="textsection">Got any suggestion? <a href="{{ url_for('contact') }}" target="_blank" class="home-links">Contact us</a></span>
    </div>
</div>

{% endblock %}