<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
        integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <!--Favicon-->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
     <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.10.0/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>
    <script>
        (function () { emailjs.init("user_59rL8k6Ivj5HRFMFHHbkg"); })();
    </script>
    {% block styles %}
    {% endblock %}
    <title>Top Developer Resources</title>
</head>
<body>
    <header>
        <nav id="fullnavmenu" class="navbar navbar-expand-md navmenu">
            <a href="{{ url_for('home') }}" class="companylogo">
                 <p>Top Developer Resources</p>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Collapsiblenav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="Collapsiblenav" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto main-nav navbar-right">
                    <li class="nav-item"><a href="{{ url_for('resources') }}">Resources </a></li>
                    <li class="nav-item"><a href="{{ url_for('aboutus') }}">About Us</a></li>
                    <li class="nav-item"><a href="{{ url_for('contact') }}">Contact</a></li>
                    {% if session.user_email %} <!-- Displayed if user is logged in-->
                    <li class="nav-item"><a href="{{ url_for('new_resource') }}">New Resource </a></li>
                    <li class="nav-item"><a href="{{ url_for('profile', user_email=session['user_email']) }}">Profile</a></li>
                    <li class="nav-item"><a href="{{ url_for('logout') }}">Log Out</a></li>
                    {% else %}    <!-- Displayed if user is not logged in-->
                    <li class="nav-item"><a href="{{ url_for('login') }}">Log In</a></li>
                    <li class="nav-item"><a href="{{ url_for('register') }}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
      
    <section>
        <!-- flash messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row big-offset my-4 flashmessage">
                        <div class="col-12">
                            <h4 class="text-center flashes flashmessage-text">{{ message }}</h4>
                        </div>
                    </div>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>
    <!--<h1>Top Developer Resources</h1>-->
    {% block content %}
    {% endblock %}

    <footer class="py-5 pt-2">
         <div class="container">
            <div class="row">
               <div class="col-md-12 py-3">
                  <div class="mb-5 text-center">
                     <a class="fb-icon" href="https://www.facebook.com/" target="_blank">
                     <i class="fab fa-facebook-f fa-lg mr-md-5 mr-3 fa-2x"> </i>
                     </a>
                     <a class="tw-icon" href="https://www.twitter.com/" target="_blank">
                     <i class="fab fa-twitter fa-lg mr-md-5 mr-3 fa-2x"> </i>
                     </a>
                     <a class="ins-icon" href="https://www.instagram.com/" target="_blank">
                     <i class="fab fa-instagram fa-lg mr-md-5 mr-3 fa-2x"> </i>
                     </a>
                     <a class="pin-icon" href="https://www.pinterest.com/" target="_blank">
                     <i class="fab fa-pinterest fa-lg fa-2x"> </i>
                     </a>
                  </div>
               </div>
            </div>
            <p class="m-0 text-center btn-color copyright">Copyright &copy; Top Developer Resources 2021</p>
         </div>
      </footer>

    <!-- JQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/email.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>

