{% extends "base.html" %}
{% block content %}

<h1 class="sr-only">Edit resource type</h1>
<div class="row no-gutters">
    <!-- Card from: https://mdbootstrap.com/docs/b4/jquery/forms/inputs/-->
    <form class="card col offset"  method="POST" action="{{ url_for('edit_resource', id=type._id) }}">
        <div class="card-body elegant-color amber-text text-center rounded">
            <!-- title -->
            <h4 class="card-title text-uppercase">Edit resource type</h4>
            <hr class="hr-light mb-3 mb-sm-5">
            <div class="row">
                <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                    <!-- type -->
                    <div class="row my-3 mx-sm-3 ml-md-2">
                        <label for="type" class="col-sm-3 col-form-label text-center">Type</label>
                        <div class="col-sm-9 col-xl-8">
                            <input type="text" class="form-control" id="type" name="type" minlength="2" maxlength="25" value="{{ resource.resource_category }}" required>
                        </div>
                    </div>
                </div>
            </div>
            <!-- buttons -->
            <div class="row mx-0 my-3">
                <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 btn-group px-0" role="group" aria-label="edit type and cancel buttons">
                    <!-- Edit type button -->
                    <button type="submit" class="btn btn-blue-grey mx-1 mx-md-2 mx-xl-4 px-2">Edit type</button>
                    <!-- Cancel button -->
                    <a href="{{ url_for('types') }}" class="btn btn-mdb-color mx-1 mx-md-2 mx-xl-4 px-2">Cancel</a>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}
