{% extends "base.html" %}
{% block content %}


<div class="row no-gutters editresource-section mt-4">
    <h1 class="sr-only mt-3">Edit resource</h1>
    <!-- Card from: https://mdbootstrap.com/docs/b4/jquery/forms/inputs/-->
    <form class="card col offset"  method="POST" action="{{ url_for('edit_resource', id=resource._id) }}">
        <div class="card-body elegant-color amber-text text-center rounded">
            <!-- title -->
            <h4 class="card-title text-uppercase">Edit resource</h4>
            <hr class="hr-light mb-3 mb-sm-5">
            <div class="row">
                <div class="col-lg-12">
                    <!-- resource name -->
                    <div class="row">
                        <label for="name" class="col-sm-4 px-1 col-editresource-label">Name</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="name" name="name" placeholder="resource name" minlength="5"
                                maxlength="30" value="{{ resource.name }}" required>
                        </div>
                    </div>
                    <!-- resource type -->
                    <div class="row my-3 mdl-selectfield">
                        <label for="type" class="col-sm-4 px-1 col-editresource-label">Type</label>
                        <div class="col-sm-5">
                            <select class="form-control" id="resource_category" name="resource_category" required>
                                <option disabled>resource type</option>
                                {% for option in resource_category %}
                                    <!-- compare resources and resource_type tables and display corect data -->
                                    {% if option.resource_category == resource.resource_category %}
                                        <option value="{{ option.resource_category }}" selected>{{ option.resource_category }}</option>
                                    {% else %}
                                        <option value="{{ option.resource_category }}">{{ option.resource_category }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <!-- resource description -->
                    <div class="row mt-3">            
                        <label for="description" class="col-sm-4 px-1 col-editresource-label">Description</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="description" name="description"
                                placeholder="Description" minlength="5" maxlength="80" value="{{ resource.description }}" required>
                        </div>
                    </div>
                    <!-- resource link -->
                    <div class="row mt-3">            
                        <label for="link" class="col-sm-4 px-1 col-editresource-label">Link</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="link" name="link" placeholder="link" minlength="5" maxlength="80" value="{{ resource.link }}" required>
                        </div>
                    </div>
                    <!-- resource image -->
                    <div class="row mt-3 mb-3">
                        <label for="image" class="col-sm-4 px-1 col-editresource-label">Image</label>
                        <div class="col-sm-5">
                            <input type="url" class="form-control" id="image" name="image" placeholder="Image" value="{{ resource.image }}" required>
                            <small class="text-muted mr-md-5">PLEASE INSERT URL LINK</small>
                        </div>
                    </div>
                </div>
            </div>
            <!-- buttons -->
            <div class="row mx-0 my-3">
                <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 btn-group px-0" role="group" aria-label="update and cancel buttons">
                    <!-- Update button -->
                    <button type="submit" class="btn btn-blue-grey mx-1 mx-md-2 mx-xl-4 px-2">Update</button>
                    <!-- Cancel button -->
                    <a href="{{ url_for('profile', user_email=session['user_email']) }}" class="btn btn-mdb-color mx-1 mx-md-2 mx-xl-4 px-2">Cancel</a>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}