{% extends "base.html" %}

{% block content %}

<div class="rounded hoverable py-sm-5 offset my-4" id="search_img">
<h3 class="rgba-stylish-strong px-3 py-3 mb-0 text-center">Discover world's best developer learning resources</h3>
<div class="container rounded rgba-white-strong hoverable py-md-5 my-md-5">
    <div class="row justify-content-center py-5 my-md-3">
        <div class="col col-md-8 col-xl-6 px-0">
            <form class="input-card elegant-color z-depth-2 py-2 px-3" action="{{ url_for('search') }}" method="POST">
                <div class="input-grey input-round input-group rgba-white-light my-2">
                    <input type="search" class="form-control white-text bg-transparent border-0 z-depth-0" name="query" 
                        id="query" placeholder="Search resources">
                    <!-- search button -->
                    <div class="input-group-append">
                        <button class="btn btn-md btn-rounded btn-light m-0 px-3 py-2 z-depth-0" type="submit">
                            Search<i class="fas fa-arrow-right pl-2"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>

<div class="row offset mb-1">
    <div class="col-8 center-align">
        <p class="textsection-title">Want to find the best learning resources used by Developers</p>
        <p class="textsection"> Top Developer Resources is your one stop platform for Learning Resources. Whether you want to discover useful resources,
            share useful ones with the community or 
            advertise you own ones look no further!
        </p>
        <span class="small-text">Want to find Resources? Simply <a href="{{ url_for('register') }}" class="home-links">sign up</a> and create an event!</span>
    </div>
    <div class="col-4 center-align no-padding"> 
        <img src="../static/images/learning4.jpg" alt="Learning Resources image" 
                class="center-align responsive-img homepage-images">
    </div>
</div>
<div class="row offset mb-1">
    <div class="col-8 center-align">
        <p class="textsection-title">Just want to add a Learning Resource to the Platform?</p>
        <p class="textsection"> You can easily do it by creating an account and clicking on Add Resource Introducing all Required Info.
        </p>
        <span class="small-text">Simply <a href="{{ url_for('register') }}" class="home-links">sign up</a> and create a Resource!</span>
    </div>
    <div class="col-4 center-align no-padding">
            <img src="../static/images/learning3.jpg" alt="Learning Resources image" 
                class="center-align responsive-img homepage-images">
    </div>
</div>
<div class="row offset homepage-textsection mb-1">
    <div class="col-12 center-align">
        <p class="textsection-title" id="about">About Us</p>
        <p>
            Top Developer Resources is a community website where people can share the top resources they used in their Software Development Learning 
            journey so that other people can profit from them and reach their Development goals faster (getting a job, learning a new language, etc).
            Our aim is to create a community where developers can help each other so that everybody benefits from the experience.
        </p>
        <span class="small-text">Got any suggestion? <a href="{{ url_for('contact') }}" class="anchor-links">Contact us</a></span>
    </div>
</div>

-
<!--
{% for resource in resources %}
{{ resource.resource_category }}<br>
{{ resource.name }}<br>
{{ resource.description }}<br>
{{ resource.created_by }}<br>
{% endfor %}


{% if 'user_email' not in session:%}
<div class="container elegant-color text-white text-center rounded mb-4">
    
    <h3 class="font-weight-bold amber-text py-4">Join our community today!</h3>
    <p class="w-responsive mx-auto mb-2">If you don't have an account please<a href="{{ url_for('register') }}"> Register</a> here.</p>
    <h4 class="amber-text py-3">Latest Added Resources:</h4>
    <div class="row">
    
    {% for resources in resources %}
        {% if loop.revindex0 < 3 %} 
        <div class="col-md-6 col-lg-4">
            <div class="card mb-4 black view overlay z-depth-1">
                <div class="mx-auto" style="height: 15rem;">
                    <img class="my-lg-auto rounded-circle" style="width: 15rem;" src="{{ resource.image }}" alt="{{ resource.name }}">
                </div>
                 <div class="mask flex-center rgba-orange-light">
                    <a class="btn btn-info btn-rounded" href="{{ url_for('register') }}">To see more please Register here</a>
                </div>
                <div class="card-body white">
                   
                    <h4 class="card-title fixed-height black-text">{{ resource.description }}</h4>
                    <hr class="my-0">
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    </div>
</div>
-->
{% endif %}
{% endblock %}