{% extends "base.html" %}

{% block content %}

<div class="main-content">
    <div class="rounded hoverable py-sm-5 offset my-1 search_img">
        <h3 class="rgba-stylish-strong py-mb-0 my-5 text-center title homepage-title">Discover world's best developer learning resources</h3>
    </div>

    <div class="row justify-content-center search-bar py-2 my-md-3">
        <div class="col col-xm-10 col-md-8 col-xl-6 px-0">
            <form class="input-card elegant-color z-depth-2 py-2 px-3 search-bar" action="{{ url_for('search') }}">
                <div class="input-grey input-round input-group rgba-white-light my-2">
                    <input type="text" class="form-control white-text bg-transparent border-0 z-depth-0 " name="query" 
                        id="query" placeholder="Search resources" minlength="4">
                    <!-- search button -->
                    <div class="input-group-append">
                        <button class="btn btn-md btn-rounded btn-light m-0 px-3 py-2 z-depth-0 search-btn" type="submit">
                            Search<i class="fas fa-arrow-right pl-2"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Display Results -->
    <div class="container search-results elegant-color yellow-text text-center rounded mb-2">
        <div class="row  mb-2">
            {% for resource in resources %}
                <div class="col-md-6 col-lg-4 py-3">
                    <div class="card black">
                        <div class="mx-auto" style="height: 18rem;">
                            <img class="rounded-circle my-lg-auto " style="width: 16rem;" src="{{ resource.image }}" alt="{{ resource.name }}">
                        </div>
                        {% if 'user_email' in session %}
                        <div class="card-body">
                            <a id="{{ resource.link }}" class="resource_link">
                                <h4 class="card-text mb-1 fixed-height" required>{{ resource.description }}</h4>
                                <a href="{{ resource.link }}" target="_blank"><p class="resourcelink"><small class="">Click to get more info</small></p></a>
                            </a>
                            <hr class="hr-light">
                            <div class="row col-form-label search_details" id="resource_details{{ loop.index }}">
                                <div class="col-5">
                                    <p class="">Name:</p>
                                </div>
                                <div class="col-7">
                                    <p>{{ resource.name }}</p>
                                </div>
                                <div class="col-5">
                                    <p class="">Type:</p>
                                </div>
                                <div class="col-7">
                                    <p>{{ resource.resource_category }}</p>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <div class="card-body">
                            <a id="{{ loop.index }}" class="resource_link" href="{{ url_for('register') }}" target="_blank">
                                <h4 class="card-text fixed-height mb-0" required>{{ resource.description }}</h4>
                                <small class="text-muted">Sign Up to get more Information</small>
                            </a>
                            <hr class="hr-light">
                        </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}