{% extends "base.html" %}
{% block content %}


<div class="row no-gutters wide-offset mt-4 login-sectionpyt">
    <h1 class="sr-only">Log In</h1>
    <div class="card col-sm-12">
        <div>
            <img class="card-img-top login-image" src="../static/images/programming2.jpg" alt="Log In image">
        </div>
        <!-- Form similar to: https://mdbootstrap.com/docs/b4/jquery/components/cards/ -->
        <form class="card-body elegant-color text-center" method="POST" action="{{ url_for('login') }}">
            <h1 class="card-title">Welcome!</h1>
            <hr class="hr-light">
            <div class="row my-1">
                <div class="col-sm-5">
                    <label for="email" class="col-form-label">Email</label>
                    <i class="fas fa-envelope mx-1"></i>
                </div>
                <div class="col-sm-7">
                    <input type="email" class="form-control loginform" id="email" name="email" placeholder="Email" minlength="6"
                        maxlength="50" required>
                </div>
            </div>
            <div class="row my-1">
                <div class=" col-sm-5">
                    <label for="password" class="col-form-label">Password</label>
                    <i class="fas fa-lock mx-1"></i>
                </div>
                <div class="col-sm-7">
                    <input type="password" class="form-control loginform" id="password" name="password" placeholder="Password" minlength="6"
                        maxlength="15" aria-describedby="passwordHelpInline" required>
                    <small id="passwordHelpInline" class="informative-text">Must be 6-15 characters long.</small>
                </div>
            </div>
            <div class="row my-1">
                <div class="col-12">
                <button type="submit" class="col-sm-6 btn login-btn">Log In
                </button>
                </div>
            </div>
            <p class="card-text mb-4">Please <a class="loginlink" href="{{ url_for('register') }}">Register</a> today if you don't have an account yet.</p>
        </form>
    </div>
</div>
{% endblock %}