{% extends "base.html" %}
{% block content %}

<h1 class="sr-only">Register form</h1>
<div class="row no-gutters">
    <!-- Card from: https://mdbootstrap.com/docs/b4/jquery/forms/inputs/-->
    <div class="card col-sm-12 col-lg-10 offset-lg-1">
        <img class="card-img-top" src="static/images/unsplash-simon-zRxLgc-o56I.jpg" alt="Form image">
        <!-- Form from: https://mdbootstrap.com/docs/b4/jquery/components/cards/ -->
        <form method="POST" action="{{ url_for('register') }}">
            <div class="card-body elegant-color amber-text text-center rounded-bottom">
                <!-- title -->
                <h4 class="card-title">Join our community today!</h4>
                <hr class="hr-light">
                <!-- first name -->
                <div class="row my-3">
                    <div class="col-sm-5">
                        <label for="first_name" class="col-form-label">First Name</label>
                        <i class="fas fa-user-tie mx-3"></i>
                    </div>
                    <div class="col-sm-7">
                        <input type="text" class="form-control signupform" id="first_name" name="first_name" placeholder="First Name" minlength="2"
                            maxlength="20" pattern="^[a-zA-Z']{2,20}$" required>
                    </div>
                </div>
                <!-- last name -->
                <div class="row my-3">
                    <div class="col-sm-5">
                        <label for="last_name" class="col-form-label">Last Name</label>
                        <i class="fas fa-user-tie mx-3"></i>
                    </div>
                    <div class="col-sm-7">
                        <input type="text" class="form-control signupform" id="last_name" name="last_name" placeholder="Last Name" minlength="2"
                            maxlength="20" pattern="^[a-zA-Z']{2,20}$" required>
                    </div>
                </div>
                <!-- email -->
                <div class="row my-3">
                    <div class="col-sm-5">
                        <label for="email" class="col-form-label">Email address</label>
                        <i class="fas fa-envelope mx-3"></i>
                    </div>
                    <div class="col-sm-7">
                        <input type="email" class="form-control signupform" id="email" name="email" placeholder="Email address" minlength="5"
                            maxlength="35" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,63}$" required>
                            <!-- Regular expresion pattern from: http://www.regular-expressions.info/email.html -->
                    </div>
                </div>
                <!-- password -->
                <div class="row my-3">
                    <div class=" col-sm-5">
                        <label for="password" class="col-form-label">Password</label>
                        <i class="fas fa-user-lock mx-3"></i>
                    </div>
                    <div class="col-sm-7">
                        <input type="password" class="form-control signupform" id="password" name="password" placeholder="Password" minlength="8"
                            maxlength="20" pattern="^[a-zA-Z0-9._%+-]{8,15}$" aria-describedby="passwordHelpInline" required>
                        <small id="passwordHelpInline" class="text-muted">Must be 8-20 characters long.</small>
                    </div>
                </div>
                <!-- register button -->
                <div class="row my-3">
                    <div class="col-sm-8 offset-sm-2">
                    <button type="submit" class="col-sm-12 btn btn-amber black-text">Register
                        <i class="fas fa-sign-in-alt ml-3"></i>
                    </button>
                    </div>
                </div>
                <p class="card-text white-text mb-4">If you have an account please <a href="{{ url_for('login') }}">Log In</a>.</p>
            </div>
        </form>
    </div>
</div>
{% endblock %}