{% extends "base.html" %}

{% block content %}

<h1 class="sr-only">Catalog</h1>
<div class="container">
    <div class="row mt-3 offset">
        <div class="col-sm-12 text-center">
            <h1 class="text-capitalize resources-heading py-3">Development Resources catalog</h1>
        </div>
    </div>
</div>
<div class="container">
{% for resource in resources %}
<div class="row card d-flex flex-row offset resources-section transparent-bg my-3">
        <div class="d-none d-sm-block col-sm-5 resources-bg">
                <img class="my-lg-auto" src="{{ resource.image }}" alt="{{ resource.image }}">
        </div>
        <!--Card content-->
        <div class="col-sm-7 resources-bg">
            <div class="card-content text-center">
                <h2 class="card-title">{{ resource.name }}</h2>
                <div class="col-form-label">
                    <p class="ml-2 data-type">Type:</p>
                    <p>{{ resource.resource_category }}</p>
                </div>
                <div>
                    <p class="ml-2 data-type">Description:</p>
                </div>
                <div>
                    <p>{{ resource.description }}</p>
                </div>
                <div>
                    <p class="ml-2 data-type">Link:</p>
                </div>
                <div>
                    <a href="{{ resource.link }}" target="_blank"><p class="resourcelink">{{ resource.link }} </p></a>
                </div>
                <div class="">
                    <p class="ml-2 data-type">Created By:</p>
                </div>
                <div class="">
                    <p>{{ resource.created_by }}</p>
                </div>
            </div>
        </div>    
</div>
{% endfor %}
{% endblock %}
</div>  


