{% extends "base.html" %}

{% block content %}

<h1 class="sr-only">Catalog</h1>
<div class="card wide-offset elegant-color rounded pt-3 mb-4 mt-4">
    <h1 class="text-center text-capitalize mb-3">Development Resources catalog</h1>
</div>

{% for resource in resources %}
    <div class="row wide-offset">
        <div class="col card transparent-bg my-3">
            <div class="row row-cols-1 row-cols-lg-2">
                <!--Card image-->
                <div class="col-5 resources-bg">
                    <img class="my-lg-auto" src="{{ resource.image }}" alt="{{ resource.image }}">
                </div>
                <!--Card content-->
                <div class="col elegant-color card-content">
                    <h2 class="card-title text-center my-4 col-12">{{ resource.name }}</h2>
                    <div class="row col-form-label">
                        <div class="col-4">
                            <p class="ml-4">Type</p>
                        </div>
                        <div class="col-7">
                            <p >{{ resource.resource_category }}</p>
                        </div>
                        <div class="col-4">
                            <p class="ml-4">Description</p>
                        </div>
                        <div class="col-7">
                            <p>{{ resource.description }}</p>
                        </div>
                        <div class="col-4">
                            <p class="ml-4">Link</p>
                        </div>
                        <div class="col-7">
                            <a href="{{ resource.link }}"><p class="resourcelink">{{ resource.link }}</p></a>
                        </div>
                        <div class="col-4">
                            <p class="ml-4">Created By</p>
                        </div>
                        <div class="col-7">
                            <p>{{ resource.created_by }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}

