{% extends "base.html" %}

{% block content %}

<h1 class="sr-only">Catalog</h1>
<div class="card offset elegant-color rounded pt-3 mb-4 mt-4">
    <h1 class="text-center text-uppercase mb-0">Development Resources catalog</h1>
    <hr class="hr-light mx-4 mx-md-5">
</div>

{% for resource in resources %}
    <div class="row offset">
        <div class="col card transparent-bg my-3">
            <div class="row row-cols-1 row-cols-lg-2">
                <!--Card image-->
                <div class="col resources-bg">
                    <img class="my-lg-auto" src="{{ resource.image }}" alt="{{ resource.image }}">
                </div>
                <!--Card content-->
                <div class="col elegant-color">
                    <h2 class="card-title text-center my-4">{{ resource.name }}</h2>
                    <div class="row col-form-label">
                        <div class="col-5">
                            <p class="ml-1 ml-sm-5 mx-lg-3 ml-xl-5">Type:</p>
                        </div>
                        <div class="col-7">
                            <p >{{ resource.resource_category }}</p>
                        </div>
                        <div class="col-5">
                            <p class="ml-1 ml-sm-5 mx-lg-3 ml-xl-5">Description:</p>
                        </div>
                        <div class="col-7">
                            <p>{{ resource.description }}</p>
                        </div>
                        <div class="col-5">
                            <p class="ml-1 ml-sm-5 mx-lg-3 ml-xl-5">Link:</p>
                        </div>
                        <div class="col-7">
                            <a href="{{ resource.link }}"><p>{{ resource.link }}</p></a>
                        </div>
                        <div class="col-5">
                            <p class="ml-1 ml-sm-5 mx-lg-3 ml-xl-5">Created By:</p>
                        </div>
                        <div class="col-7">
                            <p>{{ resource.created_by }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}

