{% extends "base.html" %}
{% block content %}

<h1 class="sr-only">resource types</h1>
<div class="card offset elegant-color rounded pt-3 mb-4">
    <h4 class="amber-text text-center text-uppercase mb-0">resource types</h4>
    <hr class="hr-light mx-4 mx-md-5">
</div>
<div class="row mb-3 offset">
    {% for resource_category in resource_categories %}
        <div class="col-md-6 mb-4 ">
            <div class="card">
                <!-- Card content -->
                <div class="card-body elegant-color text-center rounded">
                    <h4 class="card-title amber-text">{{ resource.resource_category }}</h4>
                    <hr class="hr-light mb-4">
                    <!-- buttons -->
                    <div class="mb-2" role="group" aria-label="edit type and delete buttons">
                        <!-- Edit type button -->
                        <a class="btn btn-blue-grey" href="{{ url_for('edit_type', id=type._id) }}">Edit Type</a>
                        <!--Delete button -->
                        <button type="button" class="btn btn-blue-grey" data-toggle="modal" data-target="#modal{{type._id}}">Delete</button>
                        <!--Modal: https://mdbootstrap.com/docs/b4/jquery/modals/additional/-->
                        <div class="modal modal-notify fade mt-5" id="modal{{type._id}}" tabindex="-1" role="dialog" aria-labelledby="delete-modal" aria-hidden="true">
                            <div class="modal-dialog modal-sm modal-notify modal-info mt-5" role="document">
                                <div class="modal-content bg-light text-center">
                                    <div class="modal-header justify-content-center">
                                        <p class="heading">Do you realy want to delete?</p>
                                    </div>
                                    <div class="mt-3 justify-content-center">
                                        <p class="heading text-dark"> {{resource.resource_category}} </p>
                                    </div>
                                    <div class="modal-body">
                                        <i class="fas fa-times fa-4x animated rotateIn blue-grey-text"></i>
                                    </div>
                                    <div class="modal-footer flex-center">
                                        <a href="{{ url_for('delete_type', id=type._id) }}" class="btn btn-outline-blue-grey bg-primary text-warning waves-effect">Yes</a>
                                        <a type="button" class="btn btn-blue-grey waves-effect" data-dismiss="modal">No</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}